<a href="https://colab.research.google.com/github/Uh-hub/BaekjoonAnswer/blob/main/Untitled31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
while True:
  a, b = map(int, input().split())
  if a == 0 & b == 0:
    break
  else:
    if(a > b):
      print("Yes")
    else:
      print("No")

1 19
No
4 4
No
23 14
Yes
0 0

In [ ]:
n = int(input())
i = 0
a = 0
b = 0

for i in range(n):
  a, b = map(int, input().split())
  #같은 수를 계속 곱하면 일의 자리 값은 4 단위로 반복됨. 
  #따라서 b를 4로 나눈 나머지로 a를 제곱하자. 
  print("a**b:", a**b)
  b = b % 4
  if b == 0:
    b = 4
  
  square = a**b % 10
  print(square)

5
1 6
a**b: 1
1
3 7
a**b: 2187
7
6 2
a**b: 36
6
7 100
a**b: 3234476509624757991344647769100216810857203198904625400933895331391691459636928060001
1
10 10
a**b: 10000000000
0

In [4]:
a, b, c = map(int, input().split())
d = int(input()) 
add_b = 0
add_a = 0
c += d % 60
if c >= 60:
  add_b = c // 60
  c -= 60*add_b
b += (d // 60) % 60 + add_b
if b >= 60:
  add_a = b // 60
  b -= 60*add_a
a += ((d//60) // 60) + add_a
if a >= 24:
  a -= 24*(a//24)
print(a, b, c)

23 48 59
2515
0 30 54